<h1>Items List</h1>

<div class="card">
  <h3>Summary:</h3>
  <ng-container *ngIf="inShipment$ | async as inShipment">
    <app-shipment-items
      [items]="inShipment"
      (remove)="removeShipment($event)"
      (createShipment)="createShipment($event)"
    ></app-shipment-items>
  </ng-container>
</div>

<div class="card">
  <h3>Select as many items as you need</h3>
  <ng-container *ngIf="items$ | async as items">
    <app-list-item [items]="items" (addToShipment)="addItemToShipment($event)">
    </app-list-item>
  </ng-container>
</div>
