<button (click)="close()">Close Panel</button>
<h3>{{ data.isEditing ? 'Edit shipment' : 'Create shipment(all fields required):'}}</h3>

<form [formGroup]="shipmentForm">
  <label for="name">Company name:</label>
  <input name="name" type="text" formControlName="companyName">
  <label for="date">Shipment is due to:</label>
  <input name="date" type="date" formControlName="scheduledTo">
  <label for="status">Select shipment status:</label>
  <select name="status" formControlName="status">
    <option [value]="shipmentStatuses.CREATED">Created</option>
    <option [value]="shipmentStatuses.PREPARED">Prepared</option>
    <option [value]="shipmentStatuses.SHIPPED">Shipped</option>
  </select>
</form>
<button *ngIf="!data.isEditing" class="primary-button" [class.disabled]="!shipmentForm.valid" [disabled]="!shipmentForm.valid" (click)="save()">Create shipment</button>
<button *ngIf="data.isEditing" class="primary-button" [class.disabled]="!shipmentForm.valid" [disabled]="!shipmentForm.valid" (click)="edit()">Edit shipment</button>
