<div class="list-item" *ngFor="let item of items">
    <div class="list-item--image">
        <img [src]="item.imageUrl" alt="warehouse-item-image">
    </div>
    <div class="list-item--content">
        <span><b>{{item.name}}</b></span>
        <span>{{item.description}}</span>
    </div>
    <span>{{item.quantity}}x</span>
    <span>{{item.unitPrice | currency:'EUR'}}</span>
    <button *ngIf="item.quantity > 0" class="primary-button" (click)="addToShipment.emit(item)">Add to Shipment</button>
    <span *ngIf="item.quantity === 0" class="warn">No more items in the warehouse</span>
</div>
